@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url('../src/assets/Manrope-VariableFont_wght.ttf');
  font-display: swap;
}

:root {
  font-family: 'Manrope';
  box-sizing: border-box;
}

.HELP {
  border: 1px solid red;
}

.help {
  border: 1px solid green;
}

.fade-in-enter {
  opacity: 0;
}

.fade-in-enter-active {
  opacity: 1;
  transition: opacity 3000ms;
}

.fade-in-done {
  opacity: 1;
}

