@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url('../src/assets/Manrope-VariableFont_wght.ttf');
  font-display: swap;
}

:root {
  font-family: 'Manrope';
  box-sizing: border-box;
}

.HELP {
  border: 1px solid red;
}

.help {
  border: 1px solid green;
}

.fade-in-1-enter {
  transform: translateY(0.25em);
  opacity: 0;
}

.fade-in-1-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}

.fade-in-2-enter {
  transform: translateY(0.25em);
  opacity: 0;
}

.fade-in-2-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 1000ms 100ms, opacity 1000ms 100ms;
}

.fade-in-3-enter {
  transform: translateY(0.25em);
  opacity: 0;
}

.fade-in-3-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 1000ms 200ms, opacity 1000ms 200ms;
}

.fade-in-4-enter {
  transform: translateY(0.25em);
  opacity: 0;
}

.fade-in-4-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 1000ms 300ms, opacity 1000ms 300ms;
}
